body {
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.flex-beetwen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-line {
    position: relative;
    padding: 13px 0 10px;
    border-top: 6px solid #f8e27b;
}

.top-line:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    width: 16px;
    height: 16px;
    background-color: #f8e27b;
    transform: rotate(45deg);
}

.buttons {
    display: flex;
}

.buttons button {
    display: flex;
    margin-right: 8px;
    padding: 4px 15px;
    border: none;
    border-radius: 13px;
    background-image: linear-gradient(0deg, #f6dd30 0%, #fbf071 100%);
}

.buttons button img {
    margin-right: 8px;
}

a {
    color: #676767;
}




.social a {
    transition: all .5s ease;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    display: block;
    background: url(img/sprite.png);
}


a.vk {
    background-position: 0 0;
}

a.vk:hover {
    background-position: 0 -16px;
}

a.ok {
    background-position: -20px 0;
}

a.ok:hover {
    background-position: -20px -17px;
}

a.fb {
    background-position: -34px 0;
}

a.fb:hover {
    background-position: -34px -15px;
}

a.sk {
    width: 18px;
    left: 935px;
    top: 81px;
    height: 18px;
    position: absolute;
    background-position: 24px 10px;
    background: url(img/sprite.png) no-repeat -52px 1px;
}

.sk:hover {
    background-position: -51px -17px;
}



a.ia {
    width: 19px;
    left: 1029px;
    top: 81px;
    height: 18px;
    position: absolute;
    background-position: 0 0;
    background: url(img/sprite.png) no-repeat -68px 1px;
}

.ia:hover {
    background-position: -68px -17px;
}

a.mail {
    width: 22px;
    left: 1148px;
    top: 81px;
    height: 18px;
    position: absolute;
    background-position: 0 0;
    background: url(img/sprite.png) no-repeat -84px -1px;
}

.mail:hover {
    background-position: -84px -15px;
}

.middle-line a:hover {
    color: #0087e4;
}

.main-menu a:hover {
    border-bottom: 1px solid;
}

.kryg {
    background: #fff;
    border: #0193e9 1px solid;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}


.menus a {
    text-decoration: none;
}


.main-menu {
    transition: all .5s ease;
    display: flex;
}


.main-menu li {
    padding-right: 10px;
}

.filtres {
    display: flex;
}

.filtres li {
    padding-right: 10px;
}

.class {
    width: 1519px;
}

.banner {
    display: flex;
    justify-content: center;
}

.div {
    justify-content: space-between;
    background: #fff;
    position: relative;
    width: 701px;
    height: 354px;
    border: 7px #f3cf23 solid;
}


.clear {
    clear: both;
}


.peoples {
    float: right;
    margin-top: -121px;
    position: inherit;
}



.left {
    width: 15px;
    left: 9px;
    top: 150px;
    height: 36px;
    position: absolute;
    background: url(img/sprite.png) no-repeat -104px 8px;
}

.left:hover {
    background-position: -103px -28px;
}

.right {
    width: 15px;
    left: 678px;
    top: 150px;
    height: 36px;
    position: absolute;
    background: url(img/sprite.png) no-repeat -122px 8px;
}

.right:hover {
    background-position: -123px -28px;
}

.div h2 {
    color: #676767;
}




.erarka {
    width: 21px;
    left: 21px;
    top: 197px;
    height: 30px;
    position: absolute;
    background: url(img/sprite.png) no-repeat -159px 1px;
}

.erarka:hover {
    background-position: -161px -31px;
}

.minus-10-vidstochiv {
    width: 30px;
    left: 194px;
    top: 258px;
    height: 29px;
    position: absolute;
    background: url(img/sprite.png) no-repeat -71px -32px;
}

.minus-10-vidstochiv:hover {
    background-position: -72px -53px;
}


.div2 {
    padding: 11px;
    background: #fff;
    border: 3px #0193e9 solid;
    text-decoration: none;
    width: 223px;
    height: 89px;
}


.erarka2 {
    width: 21px;
    left: 15px;
    top: 62px;
    height: 30px;
    position: absolute;
    background: url(img/sprite.png) no-repeat -159px 1px;
}

.erarka2:hover {
    background-position: -161px -31px;
}


.div3 {
    padding: 11px;
    background: #fff;
    border: 3px #0193e9 solid;
    text-decoration: none;
    width: 223px;
    height: 89px;
}

.div4 {
    padding: 11px;
    background: #fff;
    border: 3px #0193e9 solid;
    text-decoration: none;
    width: 223px;
    height: 89px;
}

.pricing{
    display: flex;
    margin-bottom: 10px;
}

.pricing1 {
    height: 390px;
    width: 226px;
    margin-top: 10px;
}

.pricing img {
    width: 208px;
    padding: 10px;
}

.pricing h2 {
    text-align: center;
    color: #0193e9;
}

.pricing1:hover {
    border: #0193e9 3px solid;
    cursor: pointer;
}

.pricing1 p {
    text-align: center;
    color: #0193e9;

}

h4 {
    text-align: center;
    color: #32393d;
}

h3 {
    color: #676767;
    text-align: center;
}

.buy {
    display: flex;
    margin-right: 8px;
    padding: 4px 15px;
    border: none;
    border-radius: 13px;
    background-image: linear-gradient(0deg, #f6dd30 0%, #fbf071 100%);
    height: 21px;
    margin: auto;
}

.buy img {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    padding: 0;
}

.pricing1 a{
    text-align: center;
}