body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

button {
    outline: none;
}

.flex-beetwen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 30px;
}

.top-line {
    position: relative;
    padding: 13px 0 10px;
    border-top: 6px solid #f8e27b;
    border-bottom: 1px solid #b2def8;
}

.top-line:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    width: 16px;
    height: 16px;
    background-color: #f8e27b;
    transform: rotate(45deg);
}

.buttons {
    display: flex;
}

.buttons button {
    display: flex;
    margin-right: 8px;
    padding: 4px 15px;
    border: none;
    border-radius: 13px;
    background-image: linear-gradient(0deg, #f6dd30 0%, #fbf071 100%);
}

button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px #f6dd30);
}

.buttons button:hover {
    background-image: linear-gradient(180deg, #f6dd30 0%, 100%);
}

.buttons button img {
    margin-right: 8px;
}

a {
    color: #676767;
}




.social a {
    display: flex;
    transition: all .5s ease;
    margin-left: 11px;
    width: 21px;
    height: 20px;
    display: block;
    background: url(img/sprite.png);
}

.social {
    margin-right: 61px;
}



a.vk {
    background-position: 0 0;
}

a.vk:hover {
    background-position: 0 -20px;
    filter: drop-shadow(0 0 5px #0193e9);
}

a.ok {
    background-position: -21px 0;
}

a.ok:hover {
    background-position: -21px -20px;
    filter: drop-shadow(0 0 5px #0193e9);
}

a.fb {
    background-position: -41px 0;
}

a.fb:hover {
    background-position: -41px -20px;
    filter: drop-shadow(0 0 5px #0193e9);
}


.mesenger_a li {
    padding-left: 50px;
}

.mesenger_a a {
    display: block;
    height: 16px;
    width: 16px;
    position: relative;
    font-size: 12px;
    line-height: 22px;
    color: #0193e9;
    background: url(img/sprite.png);
}


.mesenger_a:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: -20px;
    top: 0;
}

a.sk:before {
    background-position: -62px -3px
}

a.sk:hover {
    background-position: -62px -18px;
}

a.ia:before {
    background-position: 0 0;
}

a.ia:hover {
    background-position: 0 0;
}

a.mail:before {
    background-position: 0 0;
}

a.mail:hover {
    background-position: 0 0;
}


.middle-line {
    padding: 20px 0;
}


.middle-line p {
    color: #676767;
    font-size: 12px;
}

.middle-line a:hover {
    color: #0087e4;
}

.middle-line a:not(.dashed-border):hover {
    border-bottom: 1px solid #0087e4;
}

.middle-line a {
    text-decoration: none;
    line-height: 18px;
}

.middle-line a:not(.dashed-border) {
    padding-bottom: 2px;
    border-bottom: 1px solid #676767;
}

.logo p:last-child {
    position: relative;
    letter-spacing: 4px;
    line-height: 32px;
    color: #322a2a;
    text-transform: uppercase;
    text-align: center;
}

.logo p:last-child:before {
    content: "";
    position: absolute;
    left: calc(50% - 28px);
    width: 56px;
    height: 2px;
    background: #000;
}

.cart {
    text-align: right;
}

.cart a {
    position: relative;
}

.cart a:before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
}

.cart img:nth-child(2) {
    position: absolute;
    top: 100px;
    left: 1030px;
}

.cart img:last-child {
    position: absolute;
    top: 133px;
    left: 1050px;
}

.cart a:first-child {
    width: 19px;
    height: 18px;
}

.cart a:last-child {
    width: 17px;
    height: 14px;
}


.filtres a:hover {
    padding-bottom: 5px;
}


.dashed-border {
    border-bottom: 1px dashed #676767;
    padding-bottom: 4px;
}

.dashed-border:hover {
    border-bottom: 1px dashed #0087e4;
}

.phone-number {
    font-size: 16px;
    font-weight: bold;
}

.bottom-line a:hover {
    border-bottom: 2px solid #40aeee;
    color: #40aeee;
    padding-bottom: 17px;
}

.bottom-line a {
    text-decoration: none;
}

.bottom-line {
    position: relative;
}


.maika {
    position: absolute;
    background: url(img/sprite.png);
}

.kryg {
    background: #fff;
    border: #0193e9 1px solid;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.main-menu {
    transition: all .5s ease;
    padding-bottom: 19px;
}

.main-menu a {
    font-style: italic;
    font-family: "Georgia";
}


.main-menu li {
    padding: 0 10px;
}

.filtres {
    display: flex;
}

.filtres li {
    padding: 0 10px;
}

.class {
    border-top: 2px solid #fbeca7;
    width: 1519px;
    margin-top: 5px;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner p,
.banner h2,
.buy_one_klick {
    padding: 0 0 0 80px;
    margin-bottom: 0;
}

.banner h2 {
    width: 100px;
}

.banner p:first-child {
    font: 32px arial, sans-serif;
    color: #0193e9;
}

.buy_one_klick {
    position: relative;
    font-size: 14px;
    font-style: italic;
}

.banner p:last-child {
    padding-bottom: 39px;
}

.div {
    background: #fff;
    width: 701px;
    border: 7px #f3cf23 solid;
}


.clear {
    clear: both;
}


.peoples {
    float: right;
    margin-top: -98px;
}



.left {
    width: 15px;
    left: 251px;
    top: 587px;
    height: 36px;
    position: absolute;
    background: url(img/sprite.png) no-repeat -116px 8px;
}

.left:hover {
    background-position: -103px -28px;
}

.right {
    width: 15px;
    left: 913px;
    top: 588px;
    height: 36px;
    position: absolute;
    background: url(img/sprite.png) no-repeat -131px 8px;
}

.right:hover {
    background-position: -123px -28px;
}

.div h2 {
    color: #676767;
}




.erarka {
    width: 21px;
    height: 30px;
    position: absolute;
    background: url(img/sprite.png) no-repeat -165px 1px;
    top: 555px;
    right: 1198px;
}

.erarka:hover {
    background-position: -165px -31px;
}

.minus-10-vidstochiv {
    width: 33px;
    left: 455px;
    top: 598px;
    height: 29px;
    position: absolute;
    background: url(img/sprite.png) no-repeat -71px -32px;
}

.minus-10-vidstochiv:hover {
    background-position: -72px -53px;
}

.futbolki {
    width: 337px;
}

.div2,
.div3,
.div4 {
    border: 3px solid #0193e9;
    width: 204px;
    height: 110px;
    margin: 11px;
}

.div2 img,
.div3 img,
.div4 img {
    float: right;
    margin-top: -30px;
}

.div2 p,
.div3 p,
.div4 p {
    color: #7b7b7b;
    padding: 34px;
}


.erarka2,
.erarka3,
.erarka4 {
    background: url(img/sprite.png) no-repeat 0 0;
    background-position: -162px 0px;
    width: 27px;
    height: 37px;
    cursor: default;
}

.erarka2 {
    position: absolute;
    top: 488px;
    left: 967px;
}

.erarka3 {
    position: absolute;
    top: 739px;
    left: 969px;
}

.erarka4 {
    position: absolute;
    top: 612px;
    left: 971px;
}

.pricing {
    display: flex;
    margin-bottom: 10px;
}

.pricing1 {
    margin-top: 10px;
    border: 3px solid transparent;
}

.pricing img {
    width: 208px;
    padding: 10px;
}


.pricing1:hover {
    border: 3px solid #0193e9;
    cursor: pointer;
}

.pricing1 p {
    text-align: center;
    color: #0193e9;

}

.button2 {
    position: absolute;
    left: 901px;
}

h4 {
    text-align: center;
    color: #32393d;
}

h3 {
    color: #676767;
    text-align: center;
}

.buy {
    display: flex;
    margin-right: 8px;
    padding: 4px 15px;
    border: none;
    border-radius: 13px;
    background-image: linear-gradient(0deg, #f6dd30 0%, #fbf071 100%);
    height: 21px;
    margin: auto;
}

.buy img {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    padding: 0;
}

.pricing1 a {
    text-align: center;
}

.h2 {
    text-align: center;
    color: #0193e9;
    box-sizing: border-box;
}

.h4 {
    color: #0193e9;
}

.minus-10-vidstochiv2 {
    width: 33px;
    left: 694px;
    top: 944px;
    height: 29px;
    position: absolute;
    background: url(img/sprite.png) no-repeat -71px -32px;
}

.minus-10-vidstochiv2:hover {
    background-position: -72px -53px;
}

.tovar p:first-child {
    text-align: center;
    font: 22px arial, sans-serif;
    color: #0193e9;
    border-bottom: dashed #0193e9 1px;
    padding-bottom: 4px;
}

.tovar h2 {
    text-align: center;
    font: 45px arial, sans-serif;
    color: #0193e9;
    padding-bottom: 34px;
    border-bottom: solid 1px #b2def8;
}

.tovar-info {
    display: flex;
    border-bottom: solid 1px #b2def8;
}

.tovar-info img:not(.button-img) {
    width: 99px;
    padding: 10px;
}

.divend {
    display: flex;
}

.divend h2 {
    font: 35px 'Gorditas', cursive;
    padding-top: 62px;
    padding-left: 30px;
    color: #0193e9;
}

.divend p {
    font: 103px 'Gorditas', cursive;
    padding-left: 30px;
    color: #f2de36;

}

.divend img {
    width: 312px;
    height: 310px;
}



.info-peoples {
    display: flex;
}

.info-peoples p {
    padding-right: 212px;
    color: #0193e9;
    padding-bottom: 21px;
}

.info-peoples a {
    padding-bottom: 21px;
    margin-top: 19px;
    padding-right: 66px;
    color: #0193e9;
    font-style: italic;
    font-family: "Georgia";
    font-size: 12px;
}

.info-peoples-start p:first-child {
    border-top: 1px solid #b2def8;
}

.info-peoples-start p:first-child,
.info-peoples-start p:last-child {
    font-size: 12px;
    line-height: 22px;
    width: 415px;
    color: #676767;
    font-family: "Arial";
}

.info-peoples-start p:nth-child(2) {
    font-size: 14px;
    line-height: 22px;
    color: #0085e3;
    font-weight: bold;
    font-family: "Arial";
}

.information {
    display: flex;
}

.information img {
    width: 100px;
}

.information p:nth-child(2) {
    margin-left: 12px;
    color: #676767;
}

.inf {
    width: 457px;
    height: 49px;
    font-size: 12px;
    line-height: 18px;
    color: #676767;
    font-family: "Arial";
}

.information2 {
    display: flex;
}

.information2 img {
    width: 100px;
}

.information2 p:nth-child(2) {
    margin-left: 12px;
    color: #676767;
}

.inf {
    width: 457px;
    height: 49px;
    font-size: 12px;
    line-height: 18px;
    color: #676767;
    font-family: "Arial";
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clasic {
    margin: 86px 0 44px 0;
    width: 1519px;
}

.pokedova {
    display: flex;
}

.oh li {
    padding: 0 113px 0 0;
    font-size: 14px;
    line-height: 38px;
    color: #676767;
    font-weight: bold;
    font-family: "Arial";
}

.oh li:first-child {
    margin: 0 0 0 156px;
}

.oh a {
    margin-top: -6px;
    display: grid;
    padding: 0 0 3px 0;
    font-size: 12px;
    line-height: 26px;
    width: 82px;
    font-weight: normal;
}

.social2 li {
    padding: 0 11px 0;
}

.social2 img {
    display: grid;
    padding: 6px 0 13px 0;
}

.flex {
    display: flex;
}

.flex img:not(.social2) {
    padding: 0 8px 0 0;
    height: 19px;
}

.flex a {
    font-size: 10px;
    line-height: 22px;
    width: 77px;
}

.phones {
    display: block;
}

.phones li {
    padding: 0 0 11px 87px;
    width: 114px;
}


.silka {
    display: flex;
}


.pred-end {
    margin: 110px 269px 30px;
    font-size: 11px;
    line-height: 16px;
    color: #818181;
    font-family: "Arial";
}

.the_end {
    background: #0085e3;
}

.the_end {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 4px;
}